######################
# Visual Studio
######################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

######################
# Build outputs
######################
bin/
obj/

######################
# NuGet
######################
*.nuget.dgspec.json
project.assets.json
project.nuget.cache
*.nupkg

######################
# Logs, temp & backup
######################
*.log
*.tmp
*.bak
*.cache

######################
# IDE & editor config
######################
.vscode/
*.editorconfig

######################
# OS-specific files
######################
.DS_Store
Thumbs.db

######################
# Project-specific ignores
######################

# QuickMarket
QuickMarket/appsettings.json
QuickMarket/bin/
QuickMarket/obj/

# DataAccess
DataAccess/bin/
DataAccess/obj/
DataAccess/Class1.cs

# BussinessLogic
BussinessLogic/bin/
BussinessLogic/obj/
BussinessLogic/Class1.cs
